<div class="chat-header">
  <div class="left-header">
    <div class="header-title">ルーム名</div>
  </div>
  <div class="right-header">
    <div class="header-button">チャット終了</div>
  </div>
</div>
<div class="messages">
  <div class="upper-message">
    <div class="message-user"></div>
    <div class="message-date"></div>
  </div>
  <div class="lower-message">
    <div class="message-content"></div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <div class="form-message"></div>
  </div>
  <div class="form-submit">
  </div>
</div>
